.addButtonContainer {
  width: 224px;
  margin-top: 32px;
}

.addButtonLabel {
  margin-left: 16px;
}

.file {
  margin-top: 32px;
  width: 50%;
}

.fileIcon {
  margin-right: 18px;
}

.files {
  display: flex;
  flex-wrap: wrap;
}
