.FileArrayInput {
  padding: 0;
}

.addButtonContainer {
  width: 224px;
  margin-top: 32px;
}

.addButtonLabel {
  margin-left: 16px;
}

.file {
  margin-top: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.fileLabel {
  white-space: nowrap;
}

.fileIcon {
  margin-right: 18px;
  min-width: 40px;
}

.files {
  display: flex;
  flex-wrap: wrap;
}
