.subtitle {
  margin: -10px 0 40px;
}

.docLabel {
  display: inline-block;
  margin-left: 20px;
}

.docLink {
  color: var(--black);
  display: block;
  margin-bottom: 20px;
}

.actions {
  padding-top: 30px;
}