.AcceptRules {
  padding: 34px 46px 46px;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 18px;
  margin-bottom: 24px;
}

.link {
  color: black;
  text-decoration: underline;

  &:visited,
  &:hover {
    color: black;
  }
}

.document {

}

.docButton {
  margin-top: 60px;
}

.modalTitle {
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -0.4px;
  margin-bottom: 24px;
}
