@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.AcceptRules {
  padding: 34px 47px 49px;
  margin-left: -9px;
  margin-right: -9px;
  margin-bottom: 60px;
  background: white;

  @include media-breakpoint-up(sm) {
    padding: 30px 20px 40px;
  }

  @include media-breakpoint-up(lg) {
    padding: 34px 47px 49px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 18px;
  margin-bottom: 24px;
}

.link {
  color: black;
  text-decoration: underline;

  &:visited,
  &:hover {
    color: black;
  }
}

.title {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 40px;
}

.checkbox {
  margin-bottom: 16px;
}

.actions {
  padding-top: 22px;
}