.CheckBox {
  display: flex;
  cursor: pointer;
  position: relative;

  .toggle {
    background-color: var(--white);
    border: 1px solid var(--gray4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    position: relative;
    top: 1px;

    .icon {
      display: none;
    }

    &.checked {
      background-color: var(--black);

      .icon {
        display: block;
      }
    }
  }

  &:hover {
    .toggle,
    .toggle.checked {
      border-color: var(--black);
    }
  }

  .label {
    margin-left: 10px;
  }

  .error {
    position: absolute;
    bottom: -18px;
    left: 0;
  }
}
