@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.FormTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }

  .status {
    text-transform: uppercase;
    display: none;
  
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.title {
}

.moderation {
  color: var(--gray4);
}

.approved {
  color: var(--link);
  display: flex;
  align-items: center;
}

.declined {
  color: var(--red);
  display: flex;
  align-items: center;
}

.moderatedIcon {
  margin-right: 4px;
}
