.loanRequestForm {
  :global(.col-6) {
    padding-left: 10px;
    padding-right: 10px;
  }
  :global(.col-12) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.switchField {
  background: var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 18px
}

.modalButtons {
  width: 145px;
  margin: 20px auto 0;
}

.modalInner {
  padding: 45px 0;
  text-align: center;
  max-width: 740px;
}

.checkboxSeparator {
  margin-top: 50px;
}
