@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.link {
  margin-bottom: 20px;
  cursor: pointer;

  &.active {
    cursor: default;
  }
}

.navigation {
  min-width: 170px;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}