.field {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 32px;

  .selected {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--black);
  }
}

.continueButton {
  margin-top: 40px;
}

.subLink {
  margin-top: 34px;
  color: var(--label);

  a {
    color: var(--label);
    text-decoration: none;
    
    &:hover {
      color: var(--black)
    }
  }
}
