@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.field {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }

  .selected {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--black);
  }
}

.continueButton {
  @include media-breakpoint-up(md) {
    margin-top: 40px;
  }
}

.subLink {
  color: var(--label);
  text-align: center;
  margin-top: 30px;

  @include media-breakpoint-up(md) {
    margin-top: 34px;
    text-align: left;
  }

  a {
    color: var(--label);
    text-decoration: none;
    
    &:hover {
      color: var(--black)
    }
  }
}
