@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.fileIcon {
  margin-right: 10px;

  @include media-breakpoint-up(md) {
    height: 28px;
    width: 28px;
  }
}

.tableRow {

  .downloadIcon {
    @include media-breakpoint-up(md) {
      transition: opacity .3s;
      opacity: 0;
    }
  }

  &:hover .downloadIcon {
    opacity: 1;
  }
}