.SelectRolesModal {
    .title {
        margin-bottom: 24px;
        max-width: 360px;
    }
    .actions {
        margin-top: 40px;
    }
    .action {
        max-width: 176px;
        padding: 0px;
        min-height: 40px;
        margin: auto;
    }
}


.checkboxes {
    margin-bottom: 15px;
}