@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.field {
  margin-bottom: 0px;
}

.title {
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }
}

.continueButton {
  margin-top: 20px;
}

.subLink {
  margin-top: 40px;
  text-align: center;

  a {
    text-decoration: none;
    color: var(--label);
    
    &:hover {
      color: var(--black)
    }
  }
}