@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.pageHeader {
  display: flex;
  height: 60px;
  min-height: 60px;
  align-items: center;
  z-index: 1;
  
  @include media-breakpoint-up(sm) {
    background-color: var(--white);
  }
}

.logo {
  cursor: pointer;
  flex: 0 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space {
  flex: 1 1 90%;
}

.userContainer {
  display: none;
  align-items: center;

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.logoutIcon {
  margin-left: 28px;
  cursor: pointer;
}

.link {
  color:  var(--black);
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: var(--red);
  }
}

.menuContainer {
  padding-right: 20px;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }

  & a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    transition: color .3s;

    &:hover {
      color: var(--red);
    }
  }
}

.menuTrigger {
  line-height: 2em;
  white-space: nowrap;
  & > svg {
    margin-left: 6px;
  }
}

.menu {
  position: absolute;
  top: 2em;
  left: -17px;
  background-color: var(--white);
  box-shadow: 
    0px 3px 5px rgba(0, 0, 0, 0.05), 
    0px 1px 18px rgba(0, 0, 0, 0.03), 
    0px 6px 10px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  transition: all .4s ease;

  & a {
    padding: 5px 17px 7px;
  }
}
