.section {
  background: var(--white);
  border-radius: 4px;
  padding: 35px 35px;
  margin: 20px 0;
}

.header {
  margin-bottom: 20px;
}

.companyRow {
  padding: 7px 0;
}

.contactsRow {
  padding: 7px 0;
}
