.link {
  color: var(--black);
  text-decoration: none;

  &:hover {
    color: var(--black);
  }
}

.row {
  min-height: 76px;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    border-bottom: 1px solid var(--gray3);
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }
}

.mainSum {
  white-space: nowrap;
  font-family: Nunito;
  font-weight: 700;
  display: block;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -.2em;
  margin-right: 6px;
  vertical-align: middle;

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.openBtn {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 24px;
  min-width: 24px;
}