.Button {
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: .3s;

  &.size_s {
    height: 40px;
    padding: 10px;
  }

  &.size_m {
    min-height: 60px;
    padding: 18px;
  }

  &.theme_black {
    background-color: var(--black);
    border-color: #123;
    color: var(--white);
    &:hover {
      box-shadow: 0 0 0 5px var(--gray4);
    }
  }

  &.theme_light {
    background-color: var(--gray2);
    border: none;
    &:hover {
      color: var(--white);
      background-color: var(--black);
      svg path {
        stroke: var(--white);
      }
    }
  }

  &.disabled {
    color: var(--gray4);
    background-color: var(--secondaryGray);
    outline: none;
    box-shadow: none !important;
    border: 0;
  }
  &:focus {
    outline: none;
  }
}
