.Button {
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.size_s {
    height: 40px;
    padding: 10px;
  }

  &.size_m {
    height: 60px;
    padding: 18px;
  }

  &.theme_black {
    background-color: var(--black);
    border-color: #123;
    color: var(--white);
  }

  &.theme_light {
    background-color: var(--gray2);
    border: none;
  }

  &.disabled {
    color: var(--gray4);
  }
}
