:root {
  --main-font: 'Nunito', sans-serif;
  --red: #FF3B30;
  --link: #1D5CFF
}

* {
  box-sizing: border-box
}

*:before {
  box-sizing: border-box
}

*:after {
  box-sizing: border-box
}

*:focus {
  outline: none
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  overflow-x: hidden
}

.page__body.overflow {
  overflow: hidden
}

.page-footer {
  margin-top: auto
}

img {
  max-width: 100%;
  height: auto
}

img,
svg,
iframe {
  vertical-align: top
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.btn-reset {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  color: inherit;
  text-align: left;
  -webkit-appearance: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
  -webkit-appearance: none;
}

::-moz-placeholder {
  opacity: 1
}

:-ms-input-placeholder {
  opacity: 1
}

::placeholder {
  opacity: 1
}

::-moz-selection {
  background-color: var(--red);
  color: #fff
}

::selection {
  background-color: var(--red);
  color: #fff
}

.m0 {
  margin: 0 !important
}

.mb0 {
  margin-bottom: 0 !important
}

.mt0 {
  margin-top: 0 !important
}

.p0 {
  padding: 0 !important
}

.red {
  color: var(--red)
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.animate__fadeInUp {
  -webkit-animation: fadeInUp .5s both;
  animation: fadeInUp .5s both;
  opacity: 0
}

.animate__fadeInUp.s3 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

.animate__fadeInUp.s6 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

.btn {
  background: #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.1px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: .3s;
  font-size: 15px;
  line-height: 24px
}

.btn--130 {
  width: 130px
}
.btn--100 {
  width: 100px;
}
.btn--145 {
  width: 145px
}

.btn--100p {
  width: 100%
}

.btn--200 {
  width: 200px
}

.btn--245 {
  width: 245px
}

.btn--big {
  height: 60px
}

.btn--center {
  margin: 0 auto
}

.btn--border {
  border: 1px solid #fff
}

.btn:hover {
  box-shadow: 0 0 0 5px #C7C3C8
}

.btn--red {
  background-color: var(--red)
}

.btn--red:hover {
  box-shadow: 0 0 0 5px rgba(255, 59, 48, 0.25)
}

.btn--grey {
  color: #000000;
  background-color: #F2F2F2
}

.btn--grey:hover {
  background-color: #000;
  color: #fff;
  box-shadow: none
}

.page-header {
  background-color: #f8f9fa;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
  top: 0;
  z-index: 15;
}
.logo {
  transition: .3s;
}
.page-header--second {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.07);
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  transition: .3s;
  transform: translateY(-150%);
}
.page-header--second.open {
  transform: translateY(0);
}
.page-header--second .logo img {
  height: 22px;
}


.page-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.nav {
  display: flex;
  align-items: center
}

.nav__list {
  display: flex;
  align-items: center;
  margin-right: 54px
}

.nav__list li:not(:last-child) {
  margin-right: 30px
}

.nav__list a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000
}

.phone {
  font-size: 13px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 45px
}

.hamburger {
  display: none
}

.transform {
  background: url(../img/transform-bg.svg) no-repeat top center/cover;
  padding-top: 55px;
  padding-bottom: 145px;
  background-color: #f8f9fa;
  position: relative;
  z-index: 1
}

.transform>img {
  mix-blend-mode: luminosity
}

.transform>img:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1
}

.transform>img+img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1
}

.transorm__text {
  max-width: 460px;
  flex-shrink: 0;
  padding-top: 80px
}

.transform__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px
}

.transform__subtitle {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #000000;
  margin-bottom: 59px;
  display: block
}

.transform__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px
}

.transform__col {
  flex-shrink: 0
}

.transform__col img {
  max-width: 710px
}

.transform__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px
}

.transform-item {
  display: flex;
  align-items: center
}

.tranform-item__img {
  margin-right: 20px;
  flex-shrink: 0
}

.tranform-item__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px
}

.steps {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #FFFFFF
}

.steps__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.8px;
  margin-bottom: 58px;
  text-align: center;
  margin-top: 0
}

.step__row {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1
}

.step__row::before {
  content: '';
  position: absolute;
  top: 38px;
  left: 0;
  width: calc(100% - 75px);
  border-bottom: 1px solid #000000;
  z-index: -1
}

.step {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.step:hover .step__count {
  border-color: #000;
  color: #000
}

.step__count {
  background-color: #F2F2F2;
  border: 1px solid #f2f2f2;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  width: 94px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 23px;
  transition: .3s
}

.step__name {
  padding-left: 12px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: 'Open Sans', sans-serif
}

.step__text {
  padding-left: 12px;
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif
}

.invest {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8f9fa
}

.invest__title {
  font-family: 'Nunito', sans-serif;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.4px;
  font-weight: 400
}

.invest__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px
}

.invest-item {
  border-radius: 8px;
  overflow: hidden
}

.invest-item__top {
  overflow: hidden;
  min-height: 243px;
  position: relative;
  z-index: 1;
  background: linear-gradient(11.6deg, rgba(0, 0, 0, 0.71) 6.01%, rgba(0, 0, 0, 0) 41.16%);
  display: flex;
  align-items: flex-end;
  padding: 30px
}

.invest-item__top img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}

.invest-item__top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(11.6deg, rgba(0, 0, 0, 0.71) 6.01%, rgba(0, 0, 0, 0) 41.16%);
  z-index: 1
}

.invest-item__info {
  position: relative;
  z-index: 2
}

.invest-item__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 2px
}

.invest-item__subtitle {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.2px
}

.invest-item__bottom {
  padding: 24px 28px;
  background-color: #fff
}

.invest-item__bottom strong {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #000000;
  display: block;
  margin-bottom: 11px
}

.invest-item__bottom p {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #7F7F7F;
  margin: 0
}

.invest-item__bottom span {
  color: #000
}

.invest-item__group {
  display: flex
}

.invest-item__procent:not(:last-child) {
  margin-right: 18px
}

.invest-item__canceled {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #C7C3C8;
  font-family: 'Nunito', sans-serif
}

.invest-item__canceled svg {
  margin-right: 5px
}

.invest-item__row {
  display: flex;
  justify-content: space-between
}

.pluses {
  padding-top: 100px;
  padding-bottom: 115px;
  background-color: #000000
}

.pluses__title {
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.8px
}

.pluses__container {
  max-width: 935px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px 20px
}

.plus {
  display: flex
}

.plus:hover .plus__title,
.plus:hover .plus__text {
  color: #fff
}

.plus:hover .plus-icon::after {
  background-color: #fff
}

.plus__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #999999;
  display: block;
  margin-bottom: 12px;
  transition: .3s
}

.plus__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #999999;
  display: block;
  margin-bottom: 12px;
  transition: .3s;
  margin: 0
}

.plus-icon {
  background: #202020;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 30px;
  position: relative
}

.plus-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background-color: #C6C3C8;
  -webkit-mask-size: 48px;
  mask-size: 48px
}

.plus-icon--1::after {
  -webkit-mask-image: url(../img/p1.svg);
  mask-image: url(../img/p1.svg)
}

.plus-icon--2::after {
  -webkit-mask-image: url(../img/p2.svg);
  mask-image: url(../img/p2.svg)
}

.plus-icon--3::after {
  -webkit-mask-image: url(../img/p3.svg);
  mask-image: url(../img/p3.svg)
}

.plus-icon--4::after {
  -webkit-mask-image: url(../img/p4.svg);
  mask-image: url(../img/p4.svg)
}

.plus-icon--5::after {
  -webkit-mask-image: url(../img/p5.svg);
  mask-image: url(../img/p5.svg)
}

.plus-icon--6::after {
  -webkit-mask-image: url(../img/p6.svg);
  mask-image: url(../img/p6.svg)
}

.plus-icon--7::after {
  -webkit-mask-image: url(../img/p7.svg);
  mask-image: url(../img/p7.svg)
}

.plus-icon--8::after {
  -webkit-mask-image: url(../img/p8.svg);
  mask-image: url(../img/p8.svg)
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    display: none
  }

  to {
    opacity: 1;
    display: block
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none
  }

  to {
    opacity: 1;
    display: block
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.accordion-content {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
  display: none;
}


.accordion-btn {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #000000;
  width: 100%;
  transition: .3s;
  position: relative;
  cursor: pointer
}

.accordion-btn::after {
  content: url(../img/plus.svg);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  transition: .3s
}

.accordion-btn.open::after {
  transform: rotate(-45deg);
  margin-top: -13px
}

.faq {
  padding-top: 90px;
  padding-bottom: 105px;
  background-color: #f8f9fa
}

.faq__title {
  font-family: 'Nunito', sans-serif;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400
}

.faq__container {
  max-width: 750px;
  margin: 0 auto
}

.faq-item {
  background: #FFFFFF;
  transition: .4s;
  border-radius: 6px
}

.faq-item:not(:last-child) {
  margin-bottom: 20px
}

.faq-item:hover {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.02), 0px 3px 5px rgba(0, 0, 0, 0.03), 0px 3px 4px rgba(0, 0, 0, 0.01)
}

.get {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #f8f9fa
}

.get__left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #000;
  overflow: hidden
}

.get__left .get__container {
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px
}

.get__container {
  padding-top: 40px;
  padding-bottom: 45px
}

.get__right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  overflow: hidden
}

.get__right .get__title,
.get__right .get__text {
  color: #000
}

.get__right .get__container {
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px
}

.get__image {
  min-height: 240px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.get__container {
  max-width: 550px
}

.get__title {
  font-family: 'Nunito', sans-serif;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400
}

.get__text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 23px
}

.get__arrow {
  width: 42px;
  overflow: hidden;
  display: flex;
  transition: .3s;
  margin-bottom: 55px
}

.get__arrow svg {
  flex-shrink: 0
}

.get__arrow.end {
  justify-content: flex-end
}

.get__col:hover .get__arrow {
  width: 62px
}

.get__column {
  transition: .5s ease
}

.get__column:first-child {
  transform-origin: left
}

.get__column:last-child {
  transform-origin: right
}

.get__column:hover {
  transform: scaleX(0.98) scaleY(0.98)
}

.contacts {
  background-color: #f8f9fa;
  padding-top: 105px;
  padding-bottom: 120px
}

.contacts__wrap {
  max-width: 740px;
  margin: 0 auto
}

.contacts__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px
}

.contacts__text {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 35px;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.2px
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px
}

.form-item {
  position: relative
}

.form-item:last-child {
  grid-column: 1 / 3
}

.form-item label {
  position: absolute;
  left: 17px;
  top: 17px;
  transition: .5s;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #C7C3C8;
  font-family: 'Open Sans', sans-serif
}

.form-item input,
.form-item textarea {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  transition: .3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-left: 17px;
  padding-right: 17px;
  resize: vertical;
  appearance: none;
  -webkit-appearance: none;
}

.form-item input:hover,
.form-item textarea:hover {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.02), 0px 3px 5px rgba(0, 0, 0, 0.03), 0px 3px 4px rgba(0, 0, 0, 0.01)
}

.form-item input:focus,
.form-item textarea:focus {
  border-color: #000
}

.form-item input.invalid,
.form-item textarea.invalid {
  border-color: var(--red);
  box-shadow: none;
}

.form-item input.invalid+label+.invalid__text,
.form-item textarea.invalid+label+.invalid__text {
  visibility: visible;
  opacity: 1;
}

.invalid__text {
  visibility: hidden;
  opacity: 0;
  color: var(--red);
  letter-spacing: -0.1px;
  transition: .3s;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: -18px;
  right: 0
}

.form-item input:not(:-moz-placeholder-shown),
.form-item textarea:not(:-moz-placeholder-shown) {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  padding-top: 20px
}

.form-item input:not(:-ms-input-placeholder),
.form-item textarea:not(:-ms-input-placeholder) {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  padding-top: 20px
}

.form-item input:focus,
.form-item textarea:focus,
.form-item input:not(:placeholder-shown),
.form-item textarea:not(:placeholder-shown) {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  padding-top: 20px
}

.form-item input:not(:-moz-placeholder-shown)+label,
.form-item textarea:not(:-moz-placeholder-shown)+label {
  top: 5px;
  font-size: 11px;
  line-height: 18px;
  color: #7F7F7F
}

.form-item input:not(:-ms-input-placeholder)+label,
.form-item textarea:not(:-ms-input-placeholder)+label {
  top: 5px;
  font-size: 11px;
  line-height: 18px;
  color: #7F7F7F
}

.form-item input:focus+label,
.form-item input:not(:placeholder-shown)+label,
.form-item textarea:focus+label,
.form-item textarea:not(:placeholder-shown)+label {
  top: 5px;
  font-size: 11px;
  line-height: 18px;
  color: #7F7F7F
}

::-moz-placeholder {
  opacity: 0
}

:-ms-input-placeholder {
  opacity: 0
}

::placeholder {
  opacity: 0
}

.form-item textarea {
  min-height: 80px;
  padding-bottom: 17px
}

.contacts__btn {
  margin-top: 20px
}

.page-footer {
  background-color: #fff
}

.page-footer__top .container {
  border-bottom: 1px solid #EEEEF0
}

.social {
  padding-top: 31px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 530px;
  margin: 0 auto
}

.social a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #000000;
  transition: .3s
}

.social a:hover {
  color: var(--red)
}

.page-footer__center {
  padding-top: 45px;
  padding-bottom: 90px
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
}

.footer-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 8px
}

.footer-list a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #7F7F7F;
  transition: .3s;
  text-decoration: none
}

.footer-list a:hover {
  color: #000
}

.footer-list li:not(:last-child) {
  margin-bottom: 5px
}

.footer-tel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #000000;
  text-decoration: none
}

.page-footer__bottom {
  border-top: 1px solid #EEEEF0;
  padding-top: 30px;
  padding-bottom: 30px
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px
}

.bottom-row small {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #333333
}

.bottom-links a {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #333333;
  text-decoration: none;
  transition: .3s
}

.bottom-links a:not(:last-child) {
  margin-right: 20px
}

.bottom-links a:hover {
  text-decoration: underline
}

.footer-text {
  font-size: 13px;
  line-height: 16px;
  color: #7F7F7F;
  margin: 0
}

.footer-text+* {
  margin-top: 5px
}

.copyright {
  display: none
}

.social img {
  display: none
}

@media (max-width: 1199px) {
  .transform__row {
    display: block
  }

  .transform>img {
    display: none
  }

  .transform {
    background: #f8f9fa
  }

  .transform__col img {
    display: block;
    margin: 0 auto
  }

  .transorm__text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
    padding-top: 0
  }

  .transorm__text .btn {
    margin: 0 auto
  }

  .transform__row {
    padding-bottom: 50px
  }

  .transform {
    padding-bottom: 50px
  }

  .step__text {
    font-size: 15px;
    line-height: 22px
  }

  .invest-item__bottom,
  .invest-item__top {
    padding-left: 20px;
    padding-right: 20px
  }

  .get__col .get__container {
    padding-left: 25px;
    padding-right: 25px
  }
}

@media (max-width: 991px) {
  .nav__list li:not(:last-child) {
    margin-right: 20px
  }

  .nav__list {
    margin-right: 30px
  }

  .phone {
    margin-right: 30px
  }

  .step__row {
    display: block
  }

  .step {
    display: flex;
    align-items: center
  }

  .step:not(:last-child) {
    margin-bottom: 30px
  }

  .step br {
    display: none
  }

  .step__row::before {
    border-bottom: 0;
    border-left: 1px solid #000;
    height: calc(100% - 100px);
    width: auto;
    left: 48px
  }

  .step__count {
    margin-bottom: 0;
    flex-shrink: 0
  }

  .step__row::before {
    left: 24px
  }

  .invest__grid {
    grid-template-columns: 1fr
  }

  .pluses__container {
    grid-template-columns: 1fr;
    gap: 50px
  }

  .get__text {
    font-size: 19px;
    line-height: 24px
  }

  .get__title {
    font-size: 28px
  }

  .get__col .get__container {
    padding-left: 15px;
    padding-right: 15px
  }

  .footer-tel {
    font-size: 22px
  }
}

@media (max-width: 767px) {
  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    top: 95px;
    width: 100%;
    left: 0;
    right: 0;
    min-height: calc(100vh - 195px);
    padding-bottom: 35px;
    z-index: 10;
    transition: .3s;
    visibility: hidden;
    opacity: 0
  }

  .overlay {
    z-index: 9;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f8f9fa;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    cursor: pointer
  }

  .overlay.open {
    visibility: visible;
    opacity: 1
  }

  .nav__list {
    margin-right: 0;
    display: block;
    width: 100%;
    margin-bottom: auto
  }

  .nav__list a {
    border-bottom: 1px solid #F2F2F2;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
    display: block
  }

  .nav__list a:hover {
    background-color: #f8f9fa
  }

  .nav__list li:not(:last-child) {
    margin-right: 0
  }

  .phone {
    margin-right: 0
  }

  .hamburger {
    display: flex;
    position: relative;
    cursor: pointer
  }

  .hamburger svg {
    transition: .3s
  }

  .hamburger.open .hamburger__close {
    visibility: visible;
    opacity: 1
  }

  .hamburger.open .hamburger__menu {
    visibility: hidden;
    opacity: 0
  }

  .hamburger.open+.nav {
    visibility: visible;
    opacity: 1
  }

  .hamburger__close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0
  }

  .page-header {
    padding-top: 35px;
    padding-bottom: 35px
  }

  .page-header .btn {
    margin: 0 auto
  }

  .phone {
    margin: 0 auto;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 52px
  }

  .transform {
    padding-top: 50px
  }

  .transform__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 10px
  }

  .transform__subtitle {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px
  }

  .transform__row {
    padding-bottom: 45px
  }

  .transform__grid {
    grid-template-columns: 1fr;
    gap: 20px
  }

  .tranform-item__img {
    width: 60px;
    margin-right: 18px
  }

  .tranform-item__title {
    font-size: 15px;
    line-height: 22px
  }

  .steps {
    padding-top: 50px;
    padding-bottom: 85px
  }

  .steps__title {
    font-size: 26px;
    margin-bottom: 34px
  }

  .step__count {
    width: 48px;
    height: 38px;
    font-size: 30px;
    line-height: 31px
  }

  .step {
    align-items: flex-start
  }

  .invest {
    padding-top: 62px;
    padding-bottom: 62px
  }

  .invest__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 34px
  }

  .invest__title br {
    display: none
  }

  .invest-item__bottom,
  .invest-item__top {
    padding-left: 30px;
    padding-right: 30px
  }

  .invest-item__row {
    display: block
  }

  .invest-item__canceled {
    justify-content: flex-end;
    margin-top: 16px
  }

  .pluses__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px
  }

  .pluses {
    padding-top: 56px;
    padding-bottom: 100px
  }

  .plus-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px
  }

  .plus-icon::after {
    width: 36px;
    height: 36px;
    -webkit-mask-size: 36px;
    mask-size: 36px
  }

  .plus__title {
    margin-bottom: 5px
  }

  .plus br {
    display: none
  }

  .plus__title {
    font-size: 16px;
    line-height: 26px
  }

  .pluses__container {
    gap: 30px
  }

  .accordion-content {
    font-size: 18px;
    line-height: 18px
  }

  .faq {
    padding-top: 60px;
    padding-bottom: 60px
  }

  .faq__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 23px
  }

  .accordion-btn {
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 24px
  }

  .get {
    grid-template-columns: 1fr
  }

  .get__column:first-child {
    padding-right: 18px
  }

  .get__column:last-child {
    padding-left: 18px
  }

  .get__arrow {
    margin-bottom: 49px
  }

  .form-grid {
    grid-template-columns: 1fr
  }

  .form-item:last-child {
    grid-column: auto
  }

  .contacts {
    padding-bottom: 100px;
    padding-top: 60px
  }

  .contacts__title {
    font-size: 26px;
    line-height: 46px;
    margin-bottom: 13px
  }

  .contacts__text {
    margin-bottom: 28px
  }

  .get__right img {
    -o-object-position: left;
    object-position: left
  }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-right: var(--bs-gutter-x, 17px);
    padding-left: var(--bs-gutter-x, 17px)
  }

  .page-footer {
    background-color: #f9f8fa
  }

  .social {
    padding-top: 0
  }

  .page-footer__center {
    padding-top: 28px;
    padding-bottom: 0
  }

  .footer__row {
    display: block
  }

  .footer__col {
    margin-bottom: 30px
  }

  .footer__col:last-child {
    margin-top: 48px
  }

  .docBtn {
    cursor: pointer;
    position: relative;
    display: inline-block
  }

  .docBtn::after {
    content: url(../img/doc-arrow.svg);
    position: absolute;
    right: -14px;
    top: -2px;
    transition: .3s
  }

  .docBtn+* {
    display: none
  }

  .docBtn.open::after {
    transform: scaleY(-1);
    top: 6px
  }

  .docBtn.open+* {
    display: block
  }

  .footer__col:last-child {
    text-align: center
  }

  .page-footer__bottom {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEF0
  }

  .bottom-row {
    text-align: center
  }

  .bottom-row small {
    display: none
  }

  .bottom-links a:not(:last-child) {
    margin-right: 0
  }

  .footer-text+* {
    margin-top: 10px
  }

  .copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    display: block
  }

  .copyright small {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #333333
  }

  .social a {
    font-size: 0
  }

  .footer-list__wrap {
    display: flex;
    flex-wrap: wrap
  }

  .footer-list__wrap li:not(:last-child) {
    margin-right: 16px
  }

  .social img {
    display: block
  }
}

@media (max-width: 575px) {
  .transform__col {
    margin: 0 -15px
  }

  .transform__col img {
    display: block;
    margin: 0;
    width: 100%
  }
}
.second-page .page-header ul a {
  position: relative;
}
.second-page .page-header:not(.page-header--second) {
  background-color: transparent;
}
@media(min-width: 768px) {
  .second-page .page-header ul a {
    padding-top: 11px;
    padding-bottom: 11px;
    display: inline-block;
  }
}
.second-page .page-header:not(.page-header--second) {
  padding-top: 20px;
}
.second-page .page-header ul {
  height: 100%;
}

.second-page .page-header ul a.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: var(--red);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.top-block {
  margin-top: -70px;
  padding-top: 70px;
  background: #eee;
  padding-bottom: 180px;
}
.top-block__top {
  padding-top: 125px;
  padding-bottom: 154px;
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  margin-right: 30px;
  margin-left: auto;
}
.top-block__info {
  max-width: 420px;
  padding-top: 20px;
  flex-shrink: 0;
}
.top-block__info .transform__title {
  font-family: 'Source Sans Pro', sans-serif;
}
.top-block--1 {
  background: url(../img/top1.svg) no-repeat 0 0, #f8f9fa;
}
.top-block--2 {
  background: url(../img/top2.svg) no-repeat 0 0, #f8f9fa;
}
.top-block__bottom {
  max-width: 1050px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 66px;
}
.top-block__item {
  display: flex;
  align-items: center;
}
.top-block__item svg {
  margin-right: 6px;
}
.top-block__item span {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
}
.top-block__item span b {
  font-weight: 800;
}
.invest-block {
  background-color: #fff;
  padding-top: 87px;
}
.invest-block__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
@media(max-width: 1199px) {
  .top-block__top img {
    max-width: 450px;
  }
  .top-block {
    padding-bottom: 120px;
  }
  .top-block__top {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-right: 0;
  }
}
@media(max-width: 991px) {
  .top-block__top {
    display: block;
  }
  .top-block__info {
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
  }
  .top-block__info .btn {
    margin: 0 auto;
  }
  .top-block__top img {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }
  .top-block__bottom {
    gap: 20px;
    max-width: 450px;
    margin: 0 auto;
    grid-template-columns: 100%;
  }
  .top-block__top {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .top-block {
    padding-bottom: 60px;
  }
}
@media(max-width: 767px) {
  .top-block__top img {
    max-width: 100%;
  }
  .top-block__top {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .top-block {
    padding-bottom: 40px;
  }
}
.invest-block {
  background:url(../img/left.svg) no-repeat 0 40%, url(../img/right.svg) no-repeat 100% 60%;
  overflow: hidden;
}
.card__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}
.card {
  background: #FFFFFF;
  border: 1px solid #EEEEF0;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 0;
  min-height: 635px;
  transition: .3s;
  position: relative;
  cursor: pointer;
}
.card__content,
.card__hover {
  padding-top: 42px;
  padding-left: 34px;
  padding-right: 34px;
  transition: .3s;
}
.card__hover {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.card:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05), 0px 1px 18px rgba(0, 0, 0, 0.03), 0px 6px 10px rgba(0, 0, 0, 0.04);
}
.card strong {
  margin-bottom: 33px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  display: block;
}
.card p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 17px;
}
.card p b {
  font-weight: 800;
  color: var(--red);
}
.card ul {
  font-size: 13px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}
.card li {
  position: relative;
  padding-left: 16px;
}
.card li:not(:last-child) {
  margin-bottom: 10px;
}
.card li:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}
.card .card__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  display: block;
  margin-bottom: 10px;
}
.card__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  background-color: var(--red);
  padding: 9px 32px;
  color: #fff;
  border-bottom-right-radius: 20px;
  margin-left: -34px;
  margin-bottom: 12px;
}
.card__text b {
  font-weight: 800;
}
.card--second strong {
  margin-bottom: 24px;
}
.card__hover button {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
}
.card__hover p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
.card__hover p a {
  color: inherit;
}
.card.open .card__content {
  visibility: hidden;
  opacity: 0;
}
.card.open .card__hover {
  visibility: visible;
  opacity: 1;
}
@media(max-width: 991px) {
  .invest-block {
    padding-top: 60px;
  }
  .card__grid {
    grid-template-columns: 100%;
  }
  .card {
    border-bottom: 1px solid #EEEEF0;
    min-height: initial;
  }
}
@media(max-width: 767px) {
  .invest-block {
    padding-top: 40px;
  }
  .invest-block__title {
    font-size: 26px;
    line-height: 36px;
  }
  .invest-block__title {
    margin-bottom: 30px;
  }
  .card__content, .card__hover {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.steps-block {
  background-color: #000000;
  padding-top: 98px;
  padding-bottom: 108px;
}
.steps-block__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  padding-bottom: 55px;
  margin-bottom: 36px;
  position: relative;
  margin-top: 0;
}
.steps-block__title::after {
  content: '';
  width: 37px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
}
.steps-block__container {
  max-width: 655px;
}
.steps-block__grid {
  display: flex;
  position: relative;
}
.step__count-el {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
  color: #404040;

  margin-bottom: 5px;
  transition: .3s;
}


.step__count-el.current,
.steps__text.current strong{
  color: #fff;
}
.sbc__left {
  margin-right: 60px;
  top: 0;
}
.steps__text {
  font-family: 'Source Sans Pro', sans-serif;
}
.steps__text strong {
  font-size: 24px;
  line-height: 38px;
  color: #404040;
  font-weight: normal;
  display: block;
  margin-bottom: 2px;
  white-space: nowrap;
  transition: .3s ease;
}
.steps__text p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  transition: .3s;
}


.scrolly {
  display: flex;
  width: 100%;
  margin-top: 36px;
  max-width: 850px;
}
.heading-xl {
  margin-bottom: 0;
  font-size: 72px;
  line-height: 86px;
  font-weight: 700;
}

.heading-xl.white.scrollytitle.scrollyactive {
  color: #fff;
}

.scrollytitles {
  position: sticky;
  top: 106px;
  align-self: flex-start;
}
.scrollysections {
  margin-bottom: -75px;
  flex: 1;
}
.scrollytrigger {
  margin-bottom: 85px;
  transition: .3s ease;
}
.scrollytrigger.scrollyactive {
  position: relative;
}
.scrollyactive {
  color: #fff;
}
.scrollyactive strong {
  color: #fff;
}
.scrollyactive  p {
  color: #7f7f7f;
}
.scrollyactive + .btn__steps {
  opacity: 1;
}
.large-leading {
  line-height: 38px;
}
.btn__steps {
  border: 1px solid #FFFFFF;
  width: 140px;
  height: 60px;
  color: #fff;
  opacity: .4;
  margin-bottom: 90px;
}
.btn__steps:hover {
  opacity: 1;
}
@media(max-width: 991px) {
  .steps-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}







.selection {
  padding-top: 110px;
  padding-bottom: 150px;
  background-color: #fff;
}
.selection__top {
  max-width: 930px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.selection__top h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 26px;
}
.selection__top p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  max-width: 840px;
}
.selection__grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  gap: 111px 20px;
  max-width: 1080px;
  position: relative;

}
.selection-border {
  position: relative;
  z-index: 1;
}
.selection-border::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 2px;
  right: 0;
  border: 1px solid #000000;
  border-radius: 70px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 264px;
  border-left: 0;
  z-index: -1;
}
.selection-item img {
  margin-bottom: 20px;
}
.selection-item__text {
  display: flex;
  align-items: center;
}
.selection-item__text b {
  font-weight: 300;
  font-size: 48px;
  line-height: 26px;
  display: block;
  margin-right: 10px;
}
.selection-item__text p {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 1199px) {
  .selection-border::after {
    right: -30px;
  }
  .selection {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media(max-width: 991px) {
  .selection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .selection-border::after {
    content: unset;
  }
  .selection__grid {
    max-width: 100%;
  }
  .selection__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .selection__top {
    padding-bottom: 30px;
  }
  .second-page .page-header--second {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media(max-width: 767px) {
  .selection__top h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .selection__grid {
    grid-template-columns: 100%;
    gap: 20px;
  }
  .selection-item:last-child {
    grid-row: 4;
  } 
  .selection-item:nth-child(5) {
    grid-row: 5;
  }
  .steps-block__title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 35px;
  }
  .step__count-el {
    font-size: 40px;
    line-height: 58px;
  }
  .scrollytrigger {
    margin-bottom: 30px;
  }
  .sbc__left {
    margin-right: 24px;
  }
  .scrolly {
    max-width: 100%;
  }
  .steps__text strong {
    white-space: unset;
  }
  .steps__text strong {
    font-size: 20px;
    line-height: 30px;
  }
  .steps__text p {
    font-size: 18px;
    line-height: 24px;
  }
  .btn__steps {
    margin-bottom: 77px;
  }
  .selection-item {
    display: flex;
    align-items: center;
  }
  .selection-item img {
    margin-bottom: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
  .selection-item__text p {
    font-size: 13px;
    line-height: 20px;
  }
  .selection-item__text p br {
    display: none;
  }
}
.wc {
  padding-top: 90px;
  background-color: #000;
}
.wc__container {
  max-width: 930px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
}
.wc__container::after {
  content: '';
  width: 37px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
}

.wc__container h2 {
  flex-shrink: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 80px;
}
.wc__container p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}
.wc__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 58px;
  margin-bottom: 118px;
}
.wc-item {
  padding-top: 42px;
  padding-left: 34px;
  padding-right: 34px;
  background-color: #FFFFFF;
  border-radius: 6px;
  min-height: 420px;
  margin-bottom: -118px;
  transition: .3s ease;
}
.wc-item:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05),0px 1px 18px rgba(0, 0, 0, 0.03), 0px 6px 10px rgba(0, 0, 0, 0.04);
}
.wc-item h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}
.wc-item h3::before {
  content: '';
  position: absolute;
  left: -34px;
  top: 4px;
  width: 16px;
  height: 43px;
  background-color: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wc-item ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.wc-item li {
  padding-left: 16px;
  position: relative;
}
.wc-item li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}
.wc-item li:not(:last-child) {
  margin-bottom: 4px;
}
.wc-item b {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  display: block;
}
@media(max-width: 991px) {
  .wc {
    padding-top: 60px;
  }
  .wc__grid {
    gap: 30px;
  }
  .wc__container p {
    font-size: 18px;
    line-height: 24px;
  }
  .wc__container {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
@media(max-width: 767px) {
  .wc__container {
    display: block;
  }
  .wc__container h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .wc__container h2 {
    margin-bottom: 40px;
  }
  .wc__grid {
    grid-template-columns: 100%;
    margin-bottom: 0;
    gap: 70px;
  }
  .wc-item {
    margin-bottom: -40px;
  }
}
.calc {
  padding-top: 108px;
  padding-bottom: 98px;
  background-color: #fff;
}
.calc h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 30px;
}
.calc__grid {
  display: grid;
  grid-template-columns: 1fr 302px;
  gap: 50px;
}
.calc__container {
  max-width: 902px;
}

.calc-item__name {
  font-size: 13px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin-bottom: 10px;
}
.calc-item__input {
  width: 100%;
  border: 1px solid #F2F2F2;
  border-radius: 6px 6px 0px 0px;
  background: #F2F2F2;
  height: 60px;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  border-bottom: 1px solid var(--red)
}
.noUi-horizontal .noUi-handle::after {
  content: unset;
}
.noUi-horizontal .noUi-handle::before {
  content: unset;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 6px solid var(--red);
  top: -9px;
  cursor: pointer;
}
.noUi-horizontal {
  height: 3px;
  border-bottom: 1px solid var(--red);
  margin-top: -3px;
}
.noUi-target {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--red);
}
.noUi-connect {
  background-color: var(--red);
  
}
.noUi-connects {
  border-radius: 0;
}
.slider-range {
  width: calc(100% - 13px);
}
.calc-max {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin-top: 10px;
  text-align: right;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #7F7F7F;
}
.custom-select {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 17px;
  padding-right: 17px;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.nice-select {
  float: none;
}
.nice-select:hover {
  border-color: transparent;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #000;
}
.nice-select .list {
  width: 100%;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05),0px 1px 18px rgba(0, 0, 0, 0.03), 0px 6px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 3px;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f8f9fa;
}
.nice-select .option {
  font-size: 15px;
  min-height: 60px;
  padding-left: 17px;
  padding-right: 17px;
  line-height: 60px;
}
.nice-select .option.selected {
  font-weight: normal;
}
.nice-select::after {
  width: 11px;
  height: 7px;
  background-image: url(../img/arrow.svg);
  border: 0;
  right: 17px;
  transform: none;
  transform-origin: initial;
  margin-top: -4px;
}
.nice-select.open::after {
  transform: rotate(-180deg);
}
.mb13 {
  margin-bottom: 13px;
}
.mb23 {
  margin-bottom: 23px;
}
.calc__pay span {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #7F7F7F;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
.calc__pay b {
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: -0.1px;
  display: block;
  margin-top: 7px;
  margin-bottom: 25px;
}
.calc__pay strong {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.1px;
  margin-top: -5px;
  display: block;
}
.calc__col--2 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.second-page .btn {
  font-weight: 600;
}
.calc__col .btn {
  height: 60px;
  width: 100%;
  font-weight: 600;
  margin-top: auto;
}
.calc__text {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #7F7F7F;
  max-width: 740px;
  margin: 0 auto;
  margin-top: 56px;
}

.agreement__text {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #7F7F7F;
  max-width: 740px;
  margin: 0 auto;
  margin-top: 22px;
}

.agreement__text a {
  color: #000000;
  transition: .3s
}

.agreement__text a:hover {
  color: var(--red)
}

ul.inline-list {
  display: flex;
  margin: 0; /* Обнуляем значение отступов */
}

ul.inline-list li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 25px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
}

@media(max-width: 991px) {
  .calc {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .calc__grid {
    gap: 30px;
    grid-template-columns: 1fr 270px;
  }
}
@media(max-width: 767px) {
  .calc h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .calc__grid {
    grid-template-columns: 100%;
  }
  .calc__col--2 {
    margin-top: 0;
  }
  .calc__col .btn {
    margin-top: 20px;
  }
  .calc__text {
    margin-top: 30px;
  }
  .calc__text {
    font-size: 14px;
    line-height: 22px;
  }
}
.page-privacy {
  background-color: #f9f9fa;
}
.page-privacy .logo img{
  max-width: 125px;
}
.privacy {
  padding-top: 110px;
  padding-bottom: 120px;
}
.privacy h2 {
  max-width: 835px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 45px;
  padding: 0 46px;
}
.privacy__wrap {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 80px 115px 70px;
  max-width: 970px;
  margin: 0 auto;
}
.privacy__wrap h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin-bottom: 12px;
  margin-top: 0;
}
.privacy__wrap b {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: block;
  margin-bottom: 4px;
}
.privacy__wrap p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 8px;
}
.privacy__wrap ul {
  margin-bottom: 6px;
  margin-top: 0;
  padding-left: 16px;
  list-style: none;
}
.privacy__wrap ol {
  padding-left: 18px;
  margin-bottom: 6px;
  margin-top: 0;
}
.privacy__wrap ol[start*="1"],
.privacy__wrap ol[start*="2"]  {
  padding-left: 28px;
}
.privacy__wrap li {
  padding-left: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Source Sans Pro', sans-serif;
}
.privacy__wrap li {
  margin-bottom: 8px;
}
.privacy__wrap ul li {
  position: relative;
  padding-left: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Source Sans Pro', sans-serif;

}
.privacy__wrap ul li::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}
.privacy__wrap a {
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
}
.privacy__wrap p + h3 {
  margin-top: 50px;
}
@media(max-width: 991px) {
  .privacy {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .privacy__wrap {
    max-width: 100%;
    padding: 50px;

  }
}
@media(max-width: 767px) {
  .privacy h2 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .privacy__wrap {
    padding: 15px;
  }
  .privacy__wrap h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .privacy__wrap b {
    font-size: 18px;
    line-height: 24px;
  }
  .privacy__wrap p {
    font-size: 16px;
    line-height: 20px;
  }
  .privacy__wrap li {
    font-size: 16px;
    line-height: 20px;
  }
  .privacy__wrap ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .privacy__wrap ul li::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
}
  .privacy__wrap li::after {
    top: 8px;
  }
  .privacy__wrap p + h3 {
    margin-top: 25px;
  }
  .privacy {
    padding-top: 30px;
  }
}
.page-404 .page-header--second {
  position: static;
  transform: none;
}
.page-404 .page-header--second .logo img {
  height: auto;
  width: 130px;
}
.page-header__enter {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 25px;
  align-items: center;
}
.page-header__enter a {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.page-header__enter a:first-child {
  height: 16px;
}
.page-header--second .nav {
  top: 63px;
}
@media(max-width: 767px) {
  .page-404 .page-header--second .logo img {
    max-width: 110px;
  }
  .page-header__enter {
    gap: 8px;
  }
  .page-header__enter a {
    font-size: 12px;
  }
}
.page-404 {
  background-color: #f9f8fa;
}
.error {
  max-width: 325px;
  margin: 148px auto;
}
.error svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
}
.error h1 {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.4px;
  margin: 0;
  font-weight: 400;
}
.error p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  margin: 0;
  color: #7F7F7F;
  margin-top: 5px;
  font-weight: 400;
}
@media(max-width: 767px) {
  .error svg {
    margin-bottom: 16px;
  }

  .invest-block {
    background-image: none;
  }
}
.fw600 {
  font-weight: 600!important;
  text-decoration: underline transparent;
  transition: .3s;
}
.fw600:hover {
  text-decoration: underline;
}
.steps__block-wrap {
  max-width: 930px;
  margin: 0 auto;
}
.card__back path {
  transition: .3s;
}
.card__back:hover path {
  fill: var(--red);
}
@media(max-width: 1199px) {
  .privacy h2 {
    padding: 0 62px;
  }
}
@media(max-width: 991px) {
  .privacy h2 {
    padding: 0 50px;
  }
}
@media(max-width: 767px) {
  .privacy h2 {
    padding: 0 20px;
  }
  .privacy__wrap ol {
    padding-left: 14px;
  }
  .privacy__wrap ol[start*="1"], .privacy__wrap ol[start*="2"] {
    padding-left: 20px;
  }
}
.modal {
  --overlay-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  animation: fadeOut 0.25s both ease;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.modal--open {
  animation: fadeIn 0.25s both ease;
  display: flex;
}
.modal__content {
  background-color: #fff;
  width: 100%;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10%);
  transition: 0.15s ease;
  cursor: default;
  max-width: 558px;
  padding-top: 105px;
  padding-bottom: 105px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.02), 0px 3px 5px rgba(0, 0, 0, 0.03), 0px 3px 4px rgba(0, 0, 0, 0.01);
}
@media (max-width: 575px) {
  .modal__content {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: 15px;
    margin-right: 15px;
 }
}
.modal__content--open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.modal__close {
  --crossHeight: 24px;
  border: 0;
  padding: 0;
  background: 0;
  font-size: var(--crossHeight);
  font-weight: bold;
  width: var(--crossHeight);
  height: var(--crossHeight);
  line-height: var(--crossHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.modal__body {
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
}
.modal__body .btn {
  margin: 0 auto;
}
.modal__body svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;
}
.modal__body p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
 }
  to {
    opacity: 1;
 }
}
@keyframes fadeOut {
  from {
    opacity: 1;
 }
  to {
    opacity: 0;
 }
}
