:root {
  --black: #000;
  --white: #FFF;
  --red: #FF3B30;
  --gray1: #F8F9FA;
  --gray2: #F2F2F2;
  --gray3: #EEEEF0;
  --gray4: #C7C3C8;
  --label : #7F7F7F;
  --text: #000;
  --link: #1D5CFF;
}