@mixin elevation-1 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05),
    0px 2px 1px rgba(0, 0, 0, 0.03),
    0px 1px 1px rgba(0, 0, 0, 0.04);
}

@mixin elevation-2 {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.02),
    0px 3px 5px rgba(0, 0, 0, 0.03),
    0px 3px 4px rgba(0, 0, 0, 0.01);
}

@mixin elevation-3 {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05),
    0px 1px 18px rgba(0, 0, 0, 0.03),
    0px 6px 10px rgba(0, 0, 0, 0.04);
}

@mixin elevation-4 {
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.05),
  0px 5px 22px rgba(0, 0, 0, 0.03),
  0px 12px 17px rgba(0, 0, 0, 0.04);
}

@mixin elevation-5 {
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.05),
    0px 9px 46px rgba(0, 0, 0, 0.03),
    0px 24px 38px rgba(0, 0, 0, 0.04);
}

.elevation-1 {
  @include elevation-1();
}

.elevation-2 {
  @include elevation-2();
}

.elevation-3 {
  @include elevation-3();
}

.elevation-4 {
  @include elevation-4();
}

.elevation-5 {
  @include elevation-5();
}
