@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.loan {
  background: var(--white);
  border-radius: 4px;
  padding: 45px 35px;
  min-height: 908px;
}

.preview {
  margin-bottom: 42px;
}

.desc {
  
}

.description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 3px;
}

.stats {
  margin-bottom: 40px;
}

.amount {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 22px;
  margin-bottom: 5px;
}

.table {
  & > table > tbody > tr > td {
    height: 52px;
    font-size: 15px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  & > table > tbody > tr:last-child > td {
    border-bottom: 1px solid var(--gray3);
  }
}

.target {
  display: flex;
  padding-top: 37px;
}

.targetLabel {
  white-space: nowrap;
  padding-right: 30px;
  font-weight: 700;
}

.statsRow {
  font-size: 13px;
  line-height: 1.7em;
  font-family: Nunito, sans-serif;
  color: var(--label);
  margin-bottom: 16px;

  & b {
    font-weight: 600;
    color: var(--black);
  }
}

.statsLine {
  height: 2px;
  background: var(--black);
}

.statsFill {
  height: 3.5px;
  background: var(--black);
  transform: translateY(-25%);
}

.title {
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: var(--gray2);
  height: 26px;
  display: flex;
  align-items: center;
  padding: 0 10px
}

.borrowerSection {
  margin-bottom: 40px;
}

.fileIcon {
  margin-right: 10px;

  @include media-breakpoint-up(md) {
    height: 28px;
    width: 28px;
  }
}

.docTableRow {

  .downloadIcon {
    @include media-breakpoint-up(md) {
      transition: opacity .3s;
      opacity: 0;
    }
  }

  &:hover .downloadIcon {
    opacity: 1;
  }
}
