@import "src/libs/bootstrap/_breakpoints.scss";
@import "src/libs/bootstrap/_variables.scss";

.pageContainer {
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.isBigHeader {
  padding-top: 40px;
}

.page {
  padding-top: 30px;
}
.pageHeader {
  background: none;
}

.content {
}

.Page404Text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: rgb(127, 127, 127);
  font-weight: 400;
}
