.label {
  padding: 0px 0 8px;
}

.icons {
  display: flex;
  align-items: center;
}

.network {
  margin-right: 8px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.inactive svg rect {
    fill: var(--gray4);
  }
}