@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.field {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 24px;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }

  .selected {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--black);
  }
}

.submitButton {
  @include media-breakpoint-up(md) {
    margin-top: 40px;
  }
}
