.navigationContainer {
  height: 50px;
  margin-bottom: 56px;
}

.navigation {
  // background: var(--gray1);
  z-index: 10;
  // left: 0;
  // right: 0;
  height: 50px;
  overflow: hidden;

  &.fixed {
    position: fixed;

    &::after {
      content: '';
      position: fixed;
      right: 0;
      left: 0;
      background: var(--gray1);
      height: 50px;
      top: 0;
      z-index: 10;
    }
  }
}

.container {
  max-width: 740px;
  padding: 0;
  margin: 0 auto;
}

.fixed .container {
  position: relative;
  z-index: 11;
}