.TextArea {
  position: relative;
}

.control {
  width: 100%;
  outline: none;
  border: 1px solid #F2F2F2;
  border-radius: 6px;
  min-height: 100px;
  padding: 18px;

  &.withLabel {
    padding-top: 26px;
  }

  &.focused {
    border-color: var(--black);
  }

  &.withError,
  &.focused.withError {
    border-color: var(--red);
  }
}

.label {
  position: absolute;
  transition: all 0.15s ease-out;
  top: 16px;
  left: 18px;
  overflow: hidden;
  width: calc(100% - 36px);
  white-space: nowrap;

  &.isControlVisible {
    top: 8px;
  }
}

.error {
  position: absolute;
  bottom: -18px;
  right: 0;
}
