@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.loans {
  font-size: 13px;
  line-height: 1.3em;
  margin: 0 -12px;

  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

.headerRow {
  padding: 0 15px;
  & > * {
    white-space: nowrap;
  }
}

.header {
  font-family: Nunito;
  font-size: 13px;
  font-weight: 600;
  color: var(--gray4);
  padding: 14px 0;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.body {
  padding: 0 15px;
}

.showAll {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 20px 30px 26px;
  cursor: pointer;
}
