.SelectRolesModal {
    .title {
        margin-bottom: 24px;
    }
    .actions {
        margin-top: 40px;
    }
    .action {
        max-width: 176px;
        padding: 0px;
        min-height: ;
    }
}