@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.formContainer {
  height: 100vh;
  padding-bottom: 40px;
}

.isBigHeader {
  padding-top: 40px;
}

.page {
  padding-top: 30px;
}
.pageHeader {
  background: none;
}

