@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.wrapper {
  @include media-breakpoint-up(md) {
    padding-top: 55px;
    max-width: 780px;
    margin: 0 auto;
  }
}

.backLink {
  font-size: 12px;
  line-height: 12px;
  color: var(--label);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 22px;
  transition: color .3s;

  @include media-breakpoint-up(md) {
    margin-bottom: 49px;
  }

  &:hover {
    color: var(--black);
  }

  & > svg {
    display: inline-block;
    margin-right: -5px;
    transform: translateY(1px);

    & * {
      stroke: var(--label);
      transition: stroke .3s;
    }
  }

  &:hover > svg * {
    stroke: var(--black);
  }
}

.title {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin-bottom: 12px;
  font-family: Nunito;

  @include media-breakpoint-up(md) {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

.text {
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }
}

.modalInner {
  padding: 70px 0;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }
}

.modalText {
  margin-top: 11px;
}