.CompanyForm {
  margin-top: 60px;
}

.title {
  margin-top: 40px;
}

.fieldDescription {
  margin-top: 8px;
}

.uploadFileSection {
  margin-bottom: 53px;
}

.joinDocs {
  padding-top: 25px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 55px 1fr;
}

