@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.CompanyForm {
  margin-top: 28px;
  
  @include media-breakpoint-up(md) {
    margin-top: 60px;
  }
}

.title {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 40px;
  }
}

.fieldDescription {
  margin-top: 8px;
}

.uploadFileSection {
  margin-bottom: 40px;
  @include media-breakpoint-up(md) {
    margin-bottom: 53px;
  }
}

.joinDocs {
  padding-top: 25px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 55px 1fr;
}

