@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.CompanyForm {
}

.isDirectorCheckbox {
  margin: 20px 0;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
}

.fieldDescription {
  margin-bottom: 20px;
}

.links {
  color: var(--black);
  &:hover {
    color: var(--red);
  }
}
