@import 'src/libs/bootstrap/_breakpoints.scss';
@import 'src/libs/bootstrap/_variables.scss';

.CheckEmailModal {
  text-align: center;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 740px;
    height: 100vh;

    @include media-breakpoint-up(sm) {
      max-height: 370px;
    }
  }
}

.message {
  margin-top: 10px;
  text-align: center;
}
